<!DOCTYPE html>
<html>
<head>
    <title>Placement Prediction</title>
</head>
<body>
    <h1>Placement Prediction</h1>
    <form action="/predict" method="POST">
        <label for="Age">Age:</label>
        <input type="text" id="Age" name="Age"><br><br>

        <label for="Gender">Gender:</label>
        <input type="text" id="Gender" name="Gender"><br><br>

        <label for="Stream">Stream:</label>
        <input type="text" id="Stream" name="Stream"><br><br>

        <label for="Internships">Internships:</label>
        <input type="text" id="Internships" name="Internships"><br><br>

        <label for="CGPA">CGPA:</label>
        <input type="text" id="CGPA" name="CGPA"><br><br>

        <label for="Hostel">Hostel:</label>
        <input type="text" id="Hostel" name="Hostel"><br><br>

        <label for="HistoryOfBacklogs">History of Backlogs:</label>
        <input type="text" id="HistoryOfBacklogs" name="HistoryOfBacklogs"><br><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
